<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fast.wq.com.fastandroid">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- New UI -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.MVPActivity" />
        <activity android:name=".activity.VGHActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".permissions.PermissionActivity" />
        <activity
            android:name=".activity.ListFengActivity"
            android:label="@string/title_activity_list_feng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.StickActivity" />

        <service
            android:name=".service.MyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".activity.WaterFallActivity" />
        <activity android:name=".activity.CooBeaverActivity" />
        <activity
            android:name=".activity.AnimationActivity"
            android:label="@string/title_activity_animation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CustomToActivity"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".activity.CustomT2Activity"
            android:label="@string/title_activity_custom_t2"
            android:theme="@style/CustomACAppTheme" />
        <activity
            android:name=".activity.CooderatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detialsview.MainViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ClickActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".view.dispatch.DispatchActivity"></activity>
    </application>

</manifest>